body {
	background-color: #6997d3;
	color: white;
	font-size: 2em;		
	font-family: roboto;

}
h1 {
	font-family: ComicChub;
}

@font-face {
 font-family: can_dog_tfb;
 src: url("/static/fonts/dog.ttf")
}

@font-face {
 font-family: ComicChub;
 src: url("/static/fonts/ComicChub.ttf") /* TTF file for CSS3 browsers */
}


.widget {
}
.logo {
	display: none;
	float: right;
	padding: 1%;
	background-color: white;
	border-radius: 500px;
	height: 30%;
	width: 20%;
	margin: 3%;
	position: relative;
	z-index: 100;
}
.logo2 {
	float: right;
	background-color: white;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
	color: green;
	font-size: 2em;
	display: inline-block;
	position: relative;
	z-index: 100;
}
.jumbotron {
	background-color: #05326d;
	padding-left: 20%;
}

.exit {
	font-size: 1em;
	float: right;
}

.widget {
	padding: 5px;
	padding-top: 15px;
}

.answers {
	display: none;
}
.headline {
	background-color: white;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	color:black;
}
.board {
	border-width: 10px;
	border-color: white;

}
.avatar {
	width: 40px;
}
.complete {
	background-color: white;
	border-radius: 500px;
	height: 300px;
	font-family: roboto;
}
h2 {
	padding-left: 40px;
}

.nugget {
	background-color: #ccc;
	border-radius: 5px;
	color: black;
	padding: 15px;
	margin: 15px;
	font-size: 1.5em;
	font-weight: bold;

}
.endscreen {
	padding-top: 15%;

}
.sidepanel {
	float: right;

}

* { margin: 0; padding: 0 }
.slide1 { 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;  /* sets it below the other slides in the layer stack */
    
    width: 100%;
}
.slide2 {
    position: relative;
    z-index: 10;  /* sets it above .slide1  */
    margin-top: 100%; /* this pushes it below .slide1 in the scroll */
    height: 100%; /* full length slides */
    width: 100%;
    background: rgba(255,255,255,0.8);
}
.learn {
	padding-top: 30px;
	padding-left: 20%;
	min-height: 1200px;
	color: black;
}
.learn h2 {
	padding-top: 10%;
}
.info {
	padding-left: 10%;
}
textarea {
	min-height: 800px;
	min-width: 300px;
	width: 80%;
	height: 90%;
	font-weight: bold;
	font-size: 1.5em;
	border: none;
	padding: 8px;
	background: rgba(255,255,255,0.5)
}
.deco {
	font-family: can_dog_tfb;
	color: #6997d3;
	font-size: 5em;
	position: relative;
    top: -100px;
}
.deco2 {
	color: #05326d;
	top: 50px;

}
.foot {
	color: #05326d;
	background-color: #05326d;

}
