body {
	background-color: black;
	color: white;
	font-size: 2em;
}
.widget {
}
.logo {
	float: right;
}

.jumbotron {
	background-color: #bf9130;
	color: white;
}

.exit {
	font-size: 3em;
	float: right;
}

.widget {
	padding: 5px;
	padding-top: 15px;
}